<h1>Win Loss For <%= @team.team_abbr %></h1>
<h2><%= Date.today.to_s %></h2>
<h2>Wins: <%= @team.wins %></h2>
<h2>Losses: <%= @team.losses %></h2>
<% @results.each do |result| %>
  <span><%= result %>,</span>
<% end %>